<app-navbar></app-navbar>

<h1>Réservation n° 1635</h1>

<div class="container">
    <h1 class="my-5">Votre réservation (n°1635)</h1>

    <div class="alert alert-success">
        <h4 class="alert-heading">Bravo !</h4>
        <p>
            Votre réservation auprès de
            <strong>
                    <a>Starlight Hotels</a>
                </strong> pour le séjour
            <strong>
                    <a>Hotel</a>
                </strong> a bien été prise en compte !
        </p>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2>Détails</h2>
                <dl class="row">
                    <dt class="col-md-4">Numéro</dt>
                    <dd class="col-md-8">1635</dd>
                    <dt class="col-md-4">Date d'arrivée</dt>
                    <dd class="col-md-8"></dd>
                    <dt class="col-md-4">Date de départ</dt>
                    <dd class="col-md-8"></dd>
                    <dt class="col-md-4">Nombre de nuits</dt>
                    <dd class="col-md-8"></dd>
                    <dt class="col-md-4">Montant total</dt>
                    <dd class="col-md-8"></dd>
                    <dt class="col-md-4">Commentaire</dt>
                    <dd class="col-md-8"></dd>
                </dl>

                <hr>

                <h2 class="alert-heading">Votre hôte</h2>

                <div class="row mb-3">
                    <div class="col-3">
                        <img src="http://placehold.it/500x500" class="avatar avatar-medium" alt="Avatar du client">
                    </div>
                    <div class="col-9">
                        <h4>
                            <a href="">Philippe Koumi</a>
                        </h4>

                        <span class="badge badge-primary"> annonces</span>
                    </div>
                </div>


                <a href="" class="btn btn-primary">Plus d'infos sur le client</a>
            </div>

            <div class="alert alert-light" id="comment">
                <h2 class="alert-heading">Votre avis compte !</h2>
                <blockquote>
                    Description complète
                </blockquote>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-light">
                <h2 class="alert-heading">Votre hébergement</h2>

                <h4>
                    <a href="">Name of the hotel</a>
                </h4>

                <img src="" alt="Image de" class="img-fluid">

                <a href="" class="btn btn-primary">Plus d'informations</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>