<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="hotelsdropdownlink" aria-haspopup="true" aria-expanded="false">Hotels</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Show hotels</a>
            <a href="#" class="dropdown-item">New Hotel</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promotions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
