<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="navbar-link" href="/home"><img src="../../../assets/img/logo.png" alt="LogoStarlighHotels" height="60px" width="70px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Promotions</a>
                </li>
                <li class="nav-item" *ngIf="isConnected()">
                    <a class="nav-link" href="/home/list-of-bookings">Mes réservations</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" href="/dashboard">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">A propos</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right mr-3" *ngIf="!isConnected()">
                <li class="nav-item">
                    <a class="nav-link" (click)="openUserDialog()">Connectez-vous ici !</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right mr-3" *ngIf="isConnected()">
                <li class="nav-item">{{user.fullName}}</li>
                <li class="dropdown user_profile">
                    <a data-toggle="dropdown" role="button" class="pt-0">
                        <img src="assets/images/user.jpg" class="rounded-circle" width="32" height="32" alt="User">
                    </a>
                    <ul class="dropdown-menu pullDown">
                        <li class="body">
                            <ul class="user_dw_menu">
                                <li>
                                    <a href="/home/user/user-detail">
                                        <i class="material-icons">person</i>Mon profil
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onLogout()">
                                        <i class="material-icons">power_settings_new</i>Déconnexion
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->