<app-navbar></app-navbar>
<section class="homecontent">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title" style="text-align: center;"><i class="fas fa-bed"></i> - Confirmation Details</h3>
                </div>
                <div class="card-header">
                    <div class="card-body" style="border-radius: 0%;">
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="http://placehold.it/150x150" alt="" />
                            </div>
                            <div class="col-lg-5">
                                <label for="">Type de chambre</label>
                                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus blanditiis nostrum rem! Velit non aliquam nihil reiciendis iure, adipisci dolor. Veritatis animi, hic blanditiis illum incidunt laborum rerum magni voluptas?</span><span>Vitae, eum qui? Consequuntur natus magni voluptatem, repellat unde aperiam alias nam? Corrupti totam reiciendis culpa perspiciatis, sint, error consectetur ullam fugiat, nisi facilis aspernatur. Molestiae optio pariatur ipsa eaque!</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>