<app-navbar></app-navbar>
<div class="container">
    <br><br><br>
    <h1 style="text-align: center;">Mes réservations</h1>
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <table class="table">
        <tr ngclass="btn-primary" style="text-align: center;">
            <th class="tbl2">Numéro de réservation</th>
            <th class="tbl2">Nombre d'adultes</th>
            <th class="tbl2">Nombre d'enfants</th>
            <th class="tbl2">Date d'arrivée</th>
            <th class="tbl2">Date d'arrivée</th>
            <th class="tbl2">Montant total</th>
            <th class="tbl2" colspan="3" style="text-align: center;">Show</th>
        </tr>
        <tr *ngFor="let resCh of allResCh" style="text-align: center;">
            <td class="tbl2">{{ resCh.idResCh }}</td>
            <td class="tbl2">{{ resCh.nbAdultes }}</td>
            <td class="tbl2">{{ resCh.nbEnfants }}</td>
            <td class="tbl2">{{ resCh.dateArrivee | date }}</td>
            <td class="tbl2">{{ resCh.dateDepart | date }}</td>
            <td class="tbl2">{{ resCh.montantTotal | currency:'EUR': true }}</td>
            <td class="tbl2">
                <button type="button" class="btn btn-info" matTooltip="Click Details Button" style="color: black;">Details</button>
            </td>
        </tr>
    </table>
</div>
<app-footer></app-footer>