<div class="container">
    <form [formGroup]="hotelService.formModel" class="normal-form">
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-title>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="nom" matInput placeholder="Name">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input type="number" formControlName="nbEtoiles" matInput placeholder="Number of stars">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input type="number" formControlName="nbChambres" matInput placeholder="Number of rooms">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input formControlName="adresse" matInput placeholder="Address">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input formControlName="codePostal" matInput placeholder="Postal code">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input formControlName="ville" matInput placeholder="City">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-select formControlName="pays" placeholder="Select a country...">
                            <mat-option *ngFor="let p of allCountries" [value]="p">{{ p.nom }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="tel" formControlName="telephone" matInput placeholder="Telephone">
                    </mat-form-field>
                    <div>
                        <label for="enPromotion">With promotion: </label>
                        <mat-radio-group aria-label="With promotion">
                            <mat-radio-button type="radio" value="true" formControlName="enPromotion">Yes</mat-radio-button>
                            <mat-radio-button type="radio" value="false" formControlName="enPromotion">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br>
                    <div>
                        <label for="topDestination">Destination's top: </label>
                        <mat-radio-group aria-label="Destination's top">
                            <mat-radio-button type="radio" value="true" formControlName="topDestination">Yes</mat-radio-button>
                            <mat-radio-button type="radio" value="false" formControlName="topDestination">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br>
                    <div>
                        <label for="actif">Enabled: </label>
                        <mat-radio-group aria-label="Enabled">
                            <mat-radio-button type="radio" value="true" formControlName="actif">Yes</mat-radio-button>
                            <mat-radio-button type="radio" value="false" formControlName="actif">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br>
                    <mat-form-field>
                        <input type="number" formControlName="coefficient" matInput placeholder="Coefficient">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="checkIn" [min]="minEndDate" [matDatepicker]="endDate" formControlName="checkIn">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="checkOut" [min]="minStartDate" [matDatepicker]="startDate" formControlName="checkOut">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </mat-grid-title>
            <div class="content-center">
                <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" (click)="onFormSubmit()">Submit</button>
                <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button">Reset</button>
            </div>
        </mat-grid-list>
    </form>
</div>