<div class="container">
    <mat-dialog-content>
        <mat-toolbar color="accent" style="background-color:darkblue;">
            Hotel details
        </mat-toolbar>
        <br>
        <table class="table" *ngIf="hotel">
            <tr>
                <th> Nom </th>
                <td> {{hotel.nom}} </td>
            </tr>
            <tr>
                <th> Nombre d'étoiles </th>
                <td> {{hotel.nbEtoiles}} </td>
            </tr>
            <tr>
                <th> Nombre de chambres </th>
                <td> {{hotel.nbChambres}} </td>
            </tr>
            <tr>
                <th> Description </th>
                <td> {{hotel.description}} </td>
            </tr>
            <tr>
                <th> Adresse </th>
                <td> {{hotel.adresse}} </td>
            </tr>
            <tr>
                <th> Code postal </th>
                <td> {{hotel.codePostal}} </td>
            </tr>
            <tr>
                <th> Ville </th>
                <td> {{hotel.ville}} </td>
            </tr>
            <tr>
                <th> Pays </th>
                <td> {{hotel.pays}} </td>
            </tr>
            <tr>
                <th> Téléphone </th>
                <td> {{hotel.telephone}} </td>
            </tr>
            <tr>
                <th> Avec promotion </th>
                <td> {{hotel.enPromotion}} </td>
            </tr>
            <tr>
                <th> Top destination </th>
                <td> {{hotel.topDestination}} </td>
            </tr>
            <tr>
                <th> Actif </th>
                <td> {{hotel.actif}} </td>
            </tr>
            <tr>
                <th> Coefficient </th>
                <td> {{hotel.coefficient}} </td>
            </tr>
            <tr>
                <th> Check-In </th>
                <td> {{hotel.checkIn | date}} </td>
            </tr>
            <tr>
                <th> Check-Out </th>
                <td> {{hotel.checkOut | date}} </td>
            </tr>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button class="mat-raised-button btn btn-danger" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>