<!-- <h2>Redirection vers la plateforme de paiement</h2> -->
<form #form ngNoForm  method="post" action="https://ogone.test.v-psp.com/ncol/test/orderstandard_utf8.asp">

    <!-- paramètres généraux : voir Paramètres de formulaire -->
    <input type="hidden" name="PSPID" value="">
    <input type="hidden" name="ORDERID" value="">
    <input type="hidden" name="AMOUNT" value="">
    <input type="hidden" name="CURRENCY" value="">
    <input type="hidden" name="LANGUAGE" value="">
    <input type="hidden" name="CN" value="">
    <input type="hidden" name="EMAIL" value="">
    <input type="hidden" name="OWNERZIP" value="">
    <input type="hidden" name="OWNERADDRESS" value="">
    <input type="hidden" name="OWNERCTY" value="">
    <input type="hidden" name="OWNERTOWN" value="">
    <input type="hidden" name="OWNERTELNO" value="">

    <!-- vérification avant le paiement : voir Sécurité : vérification avant le paiement -->
    <input type="hidden" name="SHASIGN" value="">

    <!-- apparence et impression: voir Apparence de la page de paiement -->
    <input type="hidden" name="TITLE" value="">
    <input type="hidden" name="BGCOLOR" value="">
    <input type="hidden" name="TXTCOLOR" value="">
    <input type="hidden" name="TBLBGCOLOR" value="">
    <input type="hidden" name="TBLTXTCOLOR" value="">
    <input type="hidden" name="BUTTONBGCOLOR" value="">
    <input type="hidden" name="BUTTONTXTCOLOR" value="">
    <input type="hidden" name="LOGO" value="">
    <input type="hidden" name="FONTTYPE" value="">

    <!-- redirection après la transaction : voir Feedback au client sur la transaction -->
    <input type="hidden" name="ACCEPTURL" value="">
    <input type="hidden" name="DECLINEURL" value="">
    <input type="hidden" name="EXCEPTIONURL" value="">
    <input type="hidden" name="CANCELURL" value="">

    <button type="submit">Submit</button>
</form>
