<div class="container">
  <img src="/assets/img/add_user.png" class="mx-auto d-block">
  <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" required>
          <mat-error *ngIf="service.formModel.get('nom').hasError('required')">
            Le nom est obligatoire !
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" required>
          <mat-error *ngIf="service.formModel.get('prenom').hasError('required')">
            Le prénom est obligatoire !
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateNaissance" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
          <mat-error *ngIf="service.formModel.get('dateNaissance').hasError('required')">
            La date de naissance est obligatoire !
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Sexe:</mat-label>
          <mat-select formControlName="sexe">
            <mat-option [value]="'H'">
              Homme
            </mat-option>
            <mat-option [value]="'F'">
              Femme
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Numéro de rue</mat-label>
          <input matInput formControlName="numeroRue" required>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Rue</mat-label>
          <input matInput formControlName="rue" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Code Postal</mat-label>
          <input matInput formControlName="codePostal">
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Ville</mat-label>
          <input matInput formControlName="ville">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Pays:</mat-label>
          <mat-select formControlName="paysId" #choosedValue>
            <mat-option>
              Choisissez le pays :
            </mat-option>
            <mat-option *ngFor="let pays of allCountries" [value]="pays.id">{{pays.nom}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required>
          <mat-error *ngIf="service.formModel.get('email').hasError('required')">
            L'email est obligatoire !
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Numéro de Téléphone</mat-label>
          <input matInput formControlName="phoneNumber" required>
          <mat-error *ngIf="service.formModel.get('phoneNumber').hasError('required')">
            Le numéro de téléphone est obligatoire !
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row" formGroupName="passwords">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput formControlName="password" required>
          <mat-error *ngIf="service.formModel.get('passwords.password').hasError('required')">
            Le mot de passe est obligatoire !
          </mat-error>
          <mat-error *ngIf="service.formModel.get('passwords.password').hasError('minlength')">
            Minimum 4 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input type="password" matInput formControlName="confirmPassword" required>
          <mat-error *ngIf="service.formModel.get('passwords.confirmPassword').hasError('required')">
            Le mot de passe est obligatoire !
          </mat-error>
          <mat-error *ngIf="service.formModel.get('passwords.confirmPassword').hasError('passwordMismatch')">
            Confirm password doesn't match
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="service.formModel.valid">Sign Up</button>
    </div>
  </form>
</div>
<script src="text/javascript">
  // Data Picker Initialization
  $('.datepicker').datepicker();
</script>
