<div class="card card-primary">
    <div class="card-header">
        <h3 style="text-align: center;">Météo des top destinations</h3>
    </div>
    <div class="card-body">
        <div class="list-inline">
            <div class="card-body form-inline">
                <div class="col-lg-2">
                    <!-- weather widget start -->
                    <a target="_blank" href="https://hotelmix.fr/weather/brussels-18068"><img src="https://w.bookcdn.com/weather/picture/1_18068_1_3_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=581&anc_id=37465" alt="booked.net" /></a>
                    <!-- weather widget end -->
                </div>
                <div class="col-lg-2">
                    <!-- weather widget start -->
                    <a target="_blank" href="https://hotelmix.fr/weather/paris-18145"><img src="https://w.bookcdn.com/weather/picture/1_18145_1_3_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=581&anc_id=84174" alt="booked.net" /></a>
                    <!-- weather widget end -->
                </div>
                <div class="col-lg-2">
                    <!-- weather widget start -->
                    <a target="_blank" href="https://hotelmix.fr/weather/london-18114"><img src="https://w.bookcdn.com/weather/picture/1_18114_1_3_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=581&anc_id=18942" alt="booked.net" /></a>
                    <!-- weather widget end -->
                </div>
                <div class="col-lg-2">
                    <!-- weather widget start -->
                    <a target="_blank" href="https://hotelmix.fr/weather/saint-denis-2706"><img src="https://w.bookcdn.com/weather/picture/1_2706_1_3_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=581&anc_id=45985" alt="booked.net" /></a>
                    <!-- weather widget end -->
                </div>
                <div class="col-lg-2">
                    <!-- weather widget start -->
                    <a target="_blank" href="https://hotelmix.fr/weather/marrakesh-18158"><img src="https://w.bookcdn.com/weather/picture/1_18158_1_3_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=581&anc_id=53998" alt="booked.net" /></a>
                    <!-- weather widget end -->
                </div>
                <div class="col-lg-2">
                    <!-- weather widget start -->
                    <a target="_blank" href="https://hotelmix.fr/weather/antananarivo-9868"><img src="https://w.bookcdn.com/weather/picture/1_9868_1_3_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=581&anc_id=72283" alt="booked.net" /></a>
                    <!-- weather widget end -->
                </div>
            </div>
        </div>
    </div>
</div>