<div class="container">
    <mat-card class="example-card">
        <div class="card-header">
            <h3 style="text-align: center;">Newsletters</h3>
        </div>
        <mat-card-content>
            <div class="form-group col-lg-12">
                <label class="control-label">Inscrivez-vous afin de recevoir nos meilleures offres:</label>
                <input class="form-control" type="text" />
            </div>
        </mat-card-content>
        <mat-card-actions>
            <input class="btn btn-primary btn-block" type="button" value="S'inscrire" style="margin-top: 5px; padding-bottom: -5px" />
        </mat-card-actions>
    </mat-card>
    <br />
    <div class="card-primary mt-1">
        <div class="card-header">
            <h3 style="text-align: center;">Partenaires</h3>
        </div>
        <div class="card-body">
            <div id="partnersCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTc98RNpmfhAIriVvP9HFmDi-5GoZIAj38KqA&usqp=CAU" alt="Tahiti" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3v7IR2GH93Gmcm5nP31zBPZGHjIcJ-7mbQw&usqp=CAU" alt="Neckermann Belgium">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-responsive" src="https://www.mediacite.be/sites/default/files/styles/shops_logo/public/logo/logo-tui.jpg?itok=_b9PWbZ5" alt="TUI group">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-responsive" src="https://www.couponsherpa.com/images/merchants/large/one-and-only-resorts.png" alt="One and Only">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-responsive" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAlJAAAAJDZiZDlkODliLWE5N2MtNDVhYS04M2M3LWExYWRlMmJmMjhkMQ.png" alt="Emirates">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-primary mt-1">
        <div class="card-header">
            <h3 style="text-align: center;">Réseaux sociaux</h3>
        </div>
        <div class="card-body">
            <a><img src="https://passiondane.weebly.com/uploads/3/9/1/6/39163737/3892519_orig.png" height="45" width="210" /></a>
            <a><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRPCPcbeH6p4nD3P-GXqhHyGEhHUG_-y-VwI58doEhWZYZN_zeCQ" height="45" width="210" /></a>
        </div>
    </div>
</div>