<div class="col-md-8">
    <div class="card-header">
        <h3 style="text-align: center;">Promotions</h3>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l 'hôtel" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Hôtel de ouf!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, atque?</p>
                    <a href="#" class="btn btn-info">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'hôtel" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Hôtel de ouf!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, atque?</p>
                    <a href="#" class="btn btn-info">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l 'hôtel" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Hôtel de ouf!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, atque?</p>
                    <a href="#" class="btn btn-info">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card-header">
        <h3 style="text-align: center;">Top destinations</h3>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l 'hôtel" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Hôtel de ouf!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, atque?</p>
                    <a href="#" class="btn btn-info">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'hôtel" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Hôtel de ouf!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, atque?</p>
                    <a href="#" class="btn btn-info">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l 'hôtel" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Hôtel de ouf!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, atque?</p>
                    <a href="#" class="btn btn-info">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>
</div>