<div class="card-header">
    <h3 style="text-align: center;">Promotions</h3>
</div>
<div class="row mt-3">
    <div class="col-md-4" *ngFor="let hotel of hotelsList">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                <strong>49&euro; / nuit</strong>
                <br>
                <small *ngFor="let number of hotel.stars">
                    <i class="fas fa-star"></i>
                </small>
            </div>

            <!--Carousel Wrapper-->
            <div id="carouselControls{{hotel.id}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" height="100" alt="First slide">
                    </div>
                    <div class="carousel-item" *ngFor="let image of hotel.images">
                        <img class="d-block w-100" src="{{ image.imageUrl }}" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls{{ hotel.id }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls{{ hotel.id }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--/Carousel Wrapper-->

            <div class="card-body">
                <h4 class="card-title">{{ hotel?.nom }}</h4>
                <p class="card-text">{{ hotel.description }}</p>
                <a [routerLink]="['/home/book-hotel/', hotel.id]" class="btn btn-indigo">Réserver</a>
                <a [routerLink]="['home/hotel-detail/', hotel.id]" class="btn btn-info" data-toggle="modal" data-target="#detailModal">Détails</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card-header">
    <h3 style="text-align: center;">Top destinations</h3>
</div>
<div class="row mt-3">
    <div class="col-md-4" *ngFor="let hotelTop of hotelsTopList">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                <strong>49&euro; / nuit</strong>
                <br>
                <small *ngFor="let number of hotelTop.stars">
                    <i class="fas fa-star"></i>
                </small>
            </div>

            <!--Carousel Wrapper-->
            <div id="carouselControls{{hotelTop.id}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" height="100" alt="First slide">
                    </div>
                    <div class="carousel-item" *ngFor="let imageTop of hotelTop.images">
                        <img class="d-block w-100" src="{{ imageTop.imageUrl }}" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls{{ hotelTop.id }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls{{ hotelTop.id }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--/Carousel Wrapper-->

            <div class="card-body">
                <h4 class="card-title">{{ hotelTop.nom }}</h4>
                <p class="card-text">{{ hotelTop.description }}</p>
                <a [routerLink]="['/home/book-hotel/', hotelTop.id]" class="btn btn-indigo">Réserver</a>
                <a [routerLink]="['home/hotel-detail/', hotelTop.id]" class="btn btn-info" data-toggle="modal" data-target="#detailModal">Détails</a>
            </div>
        </div>
    </div>
</div>